root { 
    display: block;
}
.root {
	-fx-background-color: #c31618;
}
.label {
    -fx-font-size: 12.0px;
    -fx-text-fill: #ffffff;
}
.text-inpust {
	-fx-border-radius: 0.0 0.0 0.0 0.0;
	-fx-background-radius: 0.0 0.0 0.0 0.0;
}
.button {
    -fx-text-fill: white;
    -fx-font-size: 12.0px;
    -fx-font-weight: bold;
    -fx-background-color: #940a0b;
}